<%= provide(:title, "Home") %>

<%= render 'shared/end_container_div' %>

<!-- Body -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to IdeaBook!</h1>
        <p>Contents...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div> 

<main class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Welcome to IdeaBook</h2>
                    <h5>Work just began here</h5>
                    <div style="height:2000px;">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>