<%= provide(:title, "Home") %>

<!-- Body -->
<!--<div class="container" style="margin-top: 50px;">-->
<div class="jumbotron" style="margin-top: 50px;">
        <div class="container">
            <h1>Welcome to IdeaBook!</h1>
            <p>Contents...</p>
            <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
            </p>
        </div>
    </div> 
<!--</div> -->

<main class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Welcome to IdeaBook</h2>
                    <h5>Work just began here</h5>
                    <div style="height:2000px;">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>