<!--Footer-->
<footer class="page-footer center-on-small-only" style="background-color: #24292e !important;">

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
           <span> © <%= @year %><a href=""> MapleRad. </a> Terms of Service | Privacy | Contact </span>
        </div>
    </div>
</footer>