<!--Footer-->
<footer class="page-footer center-on-small-only fixed-bottom" style="background-color: #24292e !important;">
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
           <span style="font-size: 13px;"> 
            © 2017 <a href=""> MapleRad. </a> Terms of Service | <%= link_to 'Privacy', privacy_path %> | <%= link_to 'Contact', contact_path %> 
           </span>
        </div>
    </div>
</footer>